<html>
  <head><title>${exception.code}: ${exception.title|h}</title></head>
  <body>
    <h1>${exception.code}: ${exception.title|h}</h1>
    <p>${exception.explanation|h}</p>
	% if exception.detail:
	<p><em>${exception.detail|h}</em></p>
	% endif
	% if exception.comment:
	<!-- ${exception.comment} -->
	% endif
    <hr noshade>
	% if html_report:
	${html_report}
	<hr noshade>
	% endif
    <div align="right">${environ['SERVER_NAME']|h}</div>
  </body>
</html>
% if text_report:
<!--
${text_report}
-->
% endif