<html>
<head>
    
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js"></script>
    <script src="/js/jquery.crud.js"></script>
    <script src="/js/jquery.blockUI.js"></script>
    <script src="/js/date.en-CA.js"></script>
    <script src="/js/date.core.js"></script>
    <script src="/js/date.parser.js"></script>
    <script src="/js/jquery.autodate.js"></script>
    <script src="/js/jquery.markdownEditor.js"></script>
    <script src="/js/jquery.autoresize.js"></script>
    <script src="/js/jquery.selection.js"></script>
    
    <link rel="stylesheet" href="/css/smoothness/jquery-ui-1.8.5.css">
    <link rel="stylesheet" href="/css/framework/screen.css">
    <link rel="stylesheet" href="/css/silk.css">
    <style>
        .post {
            margin: 10px;
            padding: 10px;
            width: 50%;
        }
        .post.crud-active {
            padding: 0;
        }
    </style>
</head>
<body>

<h1>Posts:</h1>
% for post in posts:
    <%include file="_post.html" args="post=post" />
    <script>jQuery(function($){
        $('#post-${post.id}').crud({url:'/crud/api', id:${post.id}})
    })</script>
% endfor